<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
  </script>
</head>
<body>
  <header>
    <app-header titulo="Tabla de Productos"></app-header>
  </header>

<div class=" container-md ">
<br>
  <div class="contendorTabla">
    <button class="btn btn-success"  routerLink="/registraProductos">Nuevo producto</button>
  
    <h5>Listado de productos</h5>
    
    
<table id="tablaProducto" class="table">
  
    <thead class="headerTable">
      <tr >
        <th style="display:none;">ID</th>
        <th scope="col">Productos</th>
        <th scope="col">Categorias</th>
        <th scope="col">Marcas</th>
        <th scope="col">Precios</th>
        <th scope="col">Stock</th>
        <th scope="col">Editar</th>
        <th scope="col" >Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tablaProducto" *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: paginaActual }; let i= index "   >
        <th style="display:none;" > {{producto.id}}</th>
        <th style="display:none;" > {{producto.idCat}}</th>
        <th style="display:none;" > {{producto.idMarca}}</th>
        <th scope="col" class="productos">{{producto.producto}} </th>
        <th scope="col" class="categoria">{{producto.categoria}} </th>
        <th scope="col" >{{producto.marca}} </th>
        <th scope="col">{{producto.precios}} </th>
        <th scope="col" >{{producto.stock}} </th>
        <th scope="col"><button id ="btnEditar" (click)="editar(i)"  class="btn btn-info"><i class="fa fa-check" style="color: white;"></i>Editar</button> </th>
        <th scope="col"><button   (click)="eliminarProductos(producto)" class=" btn btn-danger " style="color: black;"><i class="fa fa-trash" style="color: white;"></i> Eliminar</button> </th>
      </tr>
    
    </tbody>
    
  </table>
  <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
</div>
 
</div> 
</body>
</html>